/* #region Base */
body {
  font-family: "Roboto", sans-serif;
  padding: 15px;
}

a {
  text-decoration: none;
  color: #4d5ae5;
}

a:visited {
  color: #4d5ae5;
}
a:hover {
  color: #404bbf;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
}

ul {
  padding-left: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

img {
  display: block;
  width: 100%;
}

button:hover {
  cursor: pointer;
}
/* #endregion */

/* #region Container */
.container {
  max-width: 375px;
  padding: 0 16px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1158px;
    padding: 0 32px;
  }
}
/* #endregion */

.portfolio {
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.project {
  display: flex;
  gap: 20px;
  flex-direction: column;
  border: 1px solid lightgrey;
  max-width: 850px;
  border-radius: 5px;
  overflow: hidden;
  padding: 15px;
}
.project-img {
  width: 300px;
  border-radius: 5px;
}

.project-title {
  margin-bottom: 7px;
}

.project-desc {
  margin-bottom: 7px;
  color: #434455;
  line-height: 1.3;
}

@media screen and (min-width: 768px) {
  .project {
    flex-direction: row;
  }
}
